/* importing fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F5F8FF;
}
:root{
    --primary-color: #4E47FF;
    --primary-text: #252432;
}
/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-btn{
    color: white;
    background-color: var(--primary-color);
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
}
.container{
    max-width: 1172px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.m-0{
    margin: 0;
}

/* header and nav */
header{
    background-image: url('assets/hero-bg.png');
    margin-bottom: 116px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
nav h1{
    font-size: 34px;
    font-weight: 800;
    color: var(--primary-color);
}

/* banner section */
.banner{
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.banner h2{
    font-size: 65px;
    font-weight: bold;
    max-width: 900px;
    text-align: center;
    color: var(--primary-text);
}

/* main section */
main > section, main > article{
    margin-bottom: 116px;
}

/* section : action */
section.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action h3{
    font-size: 42px;
    font-weight: bold;
    color: var(--primary-text);
    margin: 0;
}
.action p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin: 23px auto;
    max-width: 517px;
}
.action img{
    border-radius: 48px;
}

/* article : users data */
article.users-data{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 140px;
}
article.users-data > h3{
    font-size: 38px;
    font-weight: bold;
    margin: 0 auto 40px;
    color: var(--primary-text);
}
.ud-container{
    display: flex;
    justify-content: space-between;
}
.ud-container h3{
    font-size: 80px;
    font-weight: bold;
    color: var(--primary-color);
}
.ud-container p{
    font-size: 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}

/* contact section */
section.contact{
    display: flex;
    align-items: center;
}
.contact h2{
    font-size: 95px;
    font-weight: bold;
}
.contact-form{
    max-width: 500px;
}
.contact-form label{
    display: block;
    font-size: 18px;
    font-weight: medium;
    margin: 19px auto 10px;
}
.contact-form input, .contact-form textarea{
    padding: 20px 32px;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    border-color: #D6DDED;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    resize: none;
}
.contact-form input[type="submit"]{
    color: white;
    margin-top: 20px;
    border: none;
    font-size: 1rem;
}